# Python

*.py[cod]
__pycache__

# Shapefiles
*.cpg
*.dbf
*.prj
*.sh[px]

# OS files
*~
*.bak
*.swp
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Other
.Rhistory
.Rdata
*.pgw
makefile

# Data
*.gpkg
*.pkl
*.zip
